
.sectionFirst{
    display: block;
    height: 768px;
    background-size: cover;
    overflow: hidden;
    position: relative;
    background-image: url('../images/sectionFirst.png');
}

.sectionFirstTitle {
    position: absolute;
    color: #0d319c;
    font-family: 'Gotham Pro', sans-serif;
    font-size: 48px;
    max-width: 750px;
    top: 93px;
    left: 76px;
}

.nextPageGradient {
    height: 78px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 25px;
    box-sizing: border-box;
    align-items: center;
    padding-top: 14px;
    background-image: radial-gradient(45% 30% at bottom center, orange 30%, transparent 100%),
                      radial-gradient(30% 70% at bottom center, orange 20%, transparent 90%);
}

.nextPage{
    position: absolute;
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: center;
    font-family: "Gotham Pro";
    text-shadow: 0 0 119px rgba(0, 131, 254, 0.09);
    font-size: 18px;
    color: white;
    bottom: 0;
}

.nextPageArrowDown{
    position: absolute;
    background: url('../images/arrowDown.png');
    width: 44px;
    height: 22px;
    background-size: cover;
    bottom: 20px;
}

