.sectionSecond {
    display: block;
    width: 100%;
    min-height: 100%;
    background-image: url("../images/sectionSecond.png");
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.sectionSecondTitle {
    font-family: Gotham Pro;
    font-size: 47px;
    margin-top: 256px;
    color: #ffffff;
    text-align: center;
}

