.ice1 {
    width: 215px;
    height: 206px;
    background: url('../../images/ice1.png');
}

.ice2 {
    width: 41px;
    height: 39px;
    background: url('../../images/ice2.png');
}

.ice3 {
    width: 104px;
    height: 101px;
    background: url('../../images/ice3.png');
}

.ice4 {
    width: 75px;
    height: 76px;
    background: url('../../images/ice4.png');
}

.ice5 {
    width: 38px;
    height: 39px;
    background: url('../../images/ice5.png');
    opacity: 0.53;
}

.ice6 {
    width: 106px;
    height: 101px;
    background: url('../../images/ice6.png');
    opacity: 0.53;
}

.ice7 {
    width: 216px;
    height: 205px;
    background: url('../../images/ice7.png');
    opacity: 0.53;
}

.ice8 {
    width: 38px;
    height: 39px;
    background: url('../../images/ice8.png');
    opacity: 0.53;
}

.ice9 {
    width: 106px;
    height: 101px;
    background: url('../../images/ice9.png');
    opacity: 0.53;
}

.ice10 {
    width: 216px;
    height: 205px;
    background: url('../../images/ice10.png');
    opacity: 0.55;
}

.ice11 {
    width: 38px;
    height: 39px;
    background: url('../../images/ice11.png');
}

.ice12 {
    width: 106px;
    height: 101px;
    background: url('../../images/ice12.png');
}

.ice13 {
    width: 216px;
    height: 205px;
    background: url('../../images/ice13.png');
    opacity: 0.53;
}

.iceBrick {
    position: absolute;
    background-size: cover;
}