.slideThird {
    width: 1024px;
    height: 768px;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
}

.slideThirdTitle {
    font-size: 30px;
    font-family: Gotham Pro;
    color: #ffffff;
    margin-left: 84px;
    margin-top: 117px;
}

.slideThirdBox {
    background: url('../../images/slide-3-box.png');
    background-repeat: no-repeat;
    width: 909px;
    height: 499px;
    background-size: contain;
    align-self: center;
    margin-top: 12px;
}